:root {
  --white: rgb(255,255,255);
  --black: rgb(0,0,0);
  --clear-current-green: rgba(14,148,83,0.2);
  --jolly-green: rgb(47,208,6);
  --gray: rgb(75,75,75);
  --current-green: rgb(14,148,83);
}

#uploadMockupSection {
    background-color: var(--white);
    border-radius: .75rem;
    overflow: hidden;
    border: 1px solid var(--white);
    height: 12rem;
}

/* div wrapped around upload mockup's header */
.uploadMockupHeader {
    background-color: var(--white);
    border-bottom: 1px solid var(--white);
    padding: 1.5rem;
}

/* upload demo's header */
#uploadMockupSection div:nth-child(1) h3 {
    background-color: var(--white);
    color: var(--black);
    font-size: 1.125rem;
    font-weight: 600;
	line-height: 1.75rem;
}

/* div wrapped around upload mockup's functionality */
#uploadMockupSection div:nth-child(2) {
    background-color: var(--white);
    text-align: center;
    padding: 2rem;
}

/* upload mockup instructions */
.uploadInstructions {
    background-color: var(--white);
    color: var(--gray);
    margin: 0 0 1rem 0;
}

.uploadFiletype {
    background-color: var(--white);
    color: var(--gray);
    font-size: .75rem;
	line-height: 1rem;
}

/* div wrapped around "Select Files" button */
#uploadMockupSection div:nth-child(2) div {
    background-color: var(--white);
    margin: 1.5rem 0 0 0;
}

/* "Select Files" button */
#uploadMockupSection button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--jolly-green);
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 100%;
    height: 2.5rem;
}

#uploadMockupSection button:hover {
    color: var(--black);
    background-color: var(--current-green);
}