:root {
  --clear-current-green: rgba(14,148,83,0.2);
  --jolly-green: rgb(47,208,6);
  --dark-jolly-green: rgba(47,208,6,1.5);
  --black: rgb(0,0,0);
  --white: rgb(255,255,255);
  --current-green: rgb(14,148,83);
}

/* checklist section */
#uploadChecklistSection {
    background: transparent;
    text-align: center;
    margin: 0 auto 2.5rem auto;
    width: 100%;
	padding: 0 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* checklist header */
#uploadChecklistSection h2 {
    font-weight: 700;
    font-size: 1.875rem;
	line-height: 2.25rem;
}

/* checklist description */
#uploadChecklistSection p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0 auto;
    color: var(--reef-green);
}

/* unordered-list */
#uploadChecklistSection ul {
    margin: 0 0 2rem 0;
}

#uploadChecklistSection ul li {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
}

/* checkmarks */
#uploadChecklistSection ul li div {
    border-radius: 1rem;
    background-color: var(--clear-current-green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
    margin: .125rem 0.75rem 0 0;
}

#uploadChecklistSection ul li div span {
    background: transparent;
    font-weight: 500;
    color: var(--reef-green);
    font-size: .875rem;
	line-height: 1.25rem;
}

/* list items */
#uploadChecklistSection ul li span {
    color: var(--reef-green);
}

/* "Try Uploading Now" button */
#uploadChecklistSection button {
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--jolly-green);
    border-radius: 0.5rem;
    font-weight: 500;
    height: 2.5rem;
}

#uploadChecklistSection button:hover {
    color: var(--black);
    background-color: var(--current-green);
}