:root {
    --dark-cyan: rgb(8,86,48);
    --dark-cyan-opaque: rgba(8,86,48, 0.8);
    --white: rgb(255,255,255);
    --jolly-green: rgb(47,208,6);
  }

  /* nav menu section */
.nav_menu {
    position: relative;
    background-color: var(--dark-cyan);
    color: var(--white);
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: --var(dark-cyan-opaque);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

/* nav menu icon */
.hamburger {
    background: none;
    border: none;
}

/* nav menu when the icon is clicked */
.open {
    width: 100%;
}

/* links in the nav menu */
.overlay-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.overlay-content a {
    color: var(--white);
}

.overlay-content a:hover {
    color: var(--jolly-green);
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 1.25rem;
    color: var(--white);
}